{
	driver: "org.postgresql.Driver",
	vendor: "postgresql",
	db: "@applicationName@",
	username: "@applicationName@",
	password: "secret",
	host: "localhost",
	
	dev:{
	},

	test:{	
	},

	prod:{
	},
	
}

