<?xml version="1.0"?>
  <context>
    <package>net.anotheria.anosite.gen</package>
    <owner>anothereria</owner>
    <applicationName>anosite</applicationName>
    <servletMapping>cms</servletMapping>
	<encoding>UTF-8</encoding>
	<languages>
		<supported>
			<language>EN</language>
			<language>DE</language>
		</supported>
		<default>
			<language>EN</language>
		</default>
	</languages>
  </context>
