<?xml version="1.0"?>
  <context>
    <package>net.anotheria.anosite.gen</package>
    <owner>anothereria</owner>
    <applicationName>moskitosite</applicationName>
    <servletMapping>cms</servletMapping>
	<encoding>iso-8859-15</encoding>
<!--
	<languages>
		<supported>
			<language>1</language>
			<language>2</language>
			<language>3</language>
			<language>4</language>
			<language>5</language>
		</supported>
		<default>
			<language>1</language>
		</default>
	</languages>
-->
  </context>
