body {	 
	background: #65564a url("../simg/bg1.jpg") top repeat-x;
	text-align: center;
}
body,td {
	font-family: verdana, sans-serif; 
	font-size: 11px; 
	color: #484035;
}

body,ul,li,h1,h2,div,form,a,p {
margin:0;
padding:0; 
}

a {text-decoration: none;}
p {margin:0; padding: 5px 0 5px 0; }
input {font-size:11px}


#Wrapper {	width:780px; 	text-align: left; }

#Header { background: url("../simg/header_elantiq.jpg") top left no-repeat; height:120px;}

#Content {
  clear:both;
  background:url("../simg/bg_content.jpg") top repeat-x #66554b;
}

#ColLeft {
float:left;
width:470px;
margin:10px 10px 0 10px;;
}
#ColRight {
float:right;
width:280px;
margin:10px 10px 0 0;
}



#ReiterNav {
	position:absolute; top:86px;
  float:left;
  width:780px;
  line-height:normal;
  border-bottom: solid 2px #a48e6f;
  }
#ReiterNav ul {
  margin-left:-10px;
  padding:10px 10px 0;
  list-style:none;
  }
#ReiterNav li {
  float:left;
  background:url("../simg/inaktiv_l.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 6px;
  }
#ReiterNav a {
  font-size:12px;
  display:block;
  background:url("../simg/inaktiv_r.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  color:#765;
  }
#ReiterNav a:hover {
  color:#aaa;
  }
#ReiterNav #current {
  background-image:url("../simg/aktiv_l.gif");
  color:#fff;
  font-weight:bold;
  }
#ReiterNav #current a {
  background-image:url("../simg/aktiv_r.gif");
  color:#fff;
  padding-bottom:4px;
}


#TopNav {
  float:right;
  padding-top:10px;
  color:#a48e6f;
  margin:0;
}
#TopNav ul {
  
}
#TopNav li {
  display:inline;
  list-style-type: none;
}
#TopNav a {
	font-size: 9px; 
	color: #a48e6f;
}
#TopNav a:hover {
  color: #fff;
}



#Login {
  margin:0;
  margin-top:19px;
  clear:both;
  float:right;
}
#Login input {
  font-size:10px;
}
#Login table {
  margin:0;
  padding:0;
}
#Login td{
  color:#a48e6f;
  font-size:10px;
  padding:1px;
}
#Login p{
  color:#a48e6f;
  font-size:10px;
  padding:1px;
}

a.a10pxb {
	font-size: 10px;
	font-weight:bold; 
	color: #a48e6f;
}
a.a10pxb:hover {
  color: #fff;
}
a.a9px {
	font-size: 9px; 
	color: #756551;
}
a.a9px:hover {
  color: #fff;
}







#Box {
width:100%;
margin-bottom:10px;
  /*margin:10px 10px 0 10px;*/
  background:url("../simg/bg_willkommen.jpg") bottom no-repeat #14100d;
}
#Box h1, #BoxPayment h1, #BoxPremium h1, #BoxFAQ h1, #BoxProfil h1, #BoxPostfach h1 {
	margin:0;
	font-weight:bold;
	padding:8px 10px 8px 10px;
	/*margin-bottom:4px;*/
	font-size: 14px; 
	background-color:#e3d4b5;
	background:url("../simg/bg_schraffur_hell.gif");
	color:#2a241f;
	border-bottom: 2px solid #a48e6f;
}

#Box h2 {
  background:url("../simg/pfeil.gif") no-repeat;
  background-position:20px 18px;
  padding:18px 0 0 44px;
	font-size: 14px; 
	color: #fff;
	font-weight:bold;
}
#Box h3 {
text-align:right;
	margin:17px 10px 10px;
}
#Box ul{
  margin-left:55px;
}
#Box li {
list-style-type: square;
	margin:6px;
	color:#fff;
	font-size: 11px; 
}



#BoxPremium {
width:100%;
  background-color:#e3d4b5;
  margin-bottom:10px;
}
/*#BoxPremium h1 {
	padding:8px 10px 8px 10px;
	margin-bottom:6px;
	font-size: 14px; 
	color:#2a241f;
	font-weight:bold;
	border-bottom: 2px solid #a48e6f;
	background:url("../simg/bg_schraffur_hell.gif");
}*/
#BoxPremium h2 {
  background:url("../simg/dot-on-bg.jpg") no-repeat;
  background-position:2px 12px;
  padding:18px 0 6px 34px;
	font-size: 14px; 
	color: #2a241f;
	font-weight:bold;
}
#BoxPremium ul{
  margin-left:45px;
  margin-right:15px;
}
#BoxPremium li {
list-style-type: square;
	margin:6px;
	color:#000;
	font-size: 11px; 
}
#BoxPremium p{
margin-left:10px;
margin-right:10px;
  color:#2a241f;
  font-weight:normal;
}



#BoxFAQ {
width:100%;
background-color:#e3d4b5;
margin-bottom:10px;
}
/*#BoxFAQ h1 {
	padding:8px 10px 8px 10px;
	margin-bottom:6px;
	font-size: 14px; 
	background-color:#e3d4b5;
	background:url("../simg/bg_schraffur_hell.gif");
	color:#2a241f;
	font-weight:bold;
	border-bottom: 2px solid #a48e6f;
}*/
#BoxFAQ h2 {
  background:url("../simg/bg_faq_frage.jpg") no-repeat;
  background-position:0px 12px;
  padding:18px 0 10px 14px;
	font-size: 12px; 
	color: #2a241f;
	font-weight:bold;
}
#BoxFAQ p{
  margin-left:10px;
  margin-right:10px;
  color:#2a241f;
  font-weight:normal;
}



#BoxTestimonials {
  /*margin:10px 10px 0px 0px;*/
  /*width:280px;
  float:right;
  clear:right;*/
  margin-bottom:10px;
  background-color: #2a241f;
}
#BoxTestimonials h1 {
	margin:0;
	padding:8px 10px 8px 10px;
	font-size: 11px; 
	background:url("../simg/bg_schraffur_dunkel.gif");
	color:#a48e6f;
	font-weight:bold;
	border-bottom: 1px solid #a48e6f;
}
#BoxTestimonials h2 {
	margin:10px 10px 0px 10px;
	font-family: verdana, sans-serif; 
	font-size: 11px; 
	color: #fff;
	font-weight:bold;
}
#BoxTestimonials p {
  padding:0;
	margin:0 10px 0 10px;
	font-size: 11px; 
	color: #a48e6f;
	font-weight:normal;
}




#BoxPayment {
padding:10px;
}
#BoxPayment p {
margin-left:12px;
margin-top:8px;
margin-right:12px;
  color:#2a241f;
  font-weight:normal;
  font-size:12px;
}
#BoxPayment ul{
  margin-left:27px;
  margin-right:15px;
}
#BoxPayment li {
list-style-type: square;
	margin:0;
	color:#000;
	font-size: 11px; 
}
/*#BoxPayment h1{
	padding:8px 10px 8px 10px;
	font-size:14px;
	color:#2a241f;
	font-weight:bold;
	border-bottom: 2px solid #a48e6f;
	background:url("../simg/bg_schraffur_hell.gif");
}*/




#BoxProfil {
padding:10px;
}
#BoxProfil p {
margin-left:12px;
margin-top:8px;
margin-right:12px;
  color:#2a241f;
  font-weight:normal;
  font-size:12px;
}
#BoxProfil ul{
  margin-left:27px;
  margin-right:15px;
}
#BoxProfil li {
list-style-type: square;
	margin:0;
	color:#000;
	font-size: 11px; 
}
/*#BoxProfil h1{
	padding:8px 10px 8px 10px;
	font-size:14px;
	color:#2a241f;
	font-weight:bold;
	border-bottom: 2px solid #a48e6f;
	background:url("../simg/bg_schraffur_hell.gif");
}*/
#BoxProfil h2{
margin-left:10px;
margin-top:8px;
margin-right:12px;
font-weight:bold;
font-size:14px;
color:#000;
}
#BoxProfil h3{
color:#2a241f;
margin:18px 11px 4px 10px;
font-weight:bold;
font-size:12px;
}
#BoxProfil .tableProfil {
width:489px;
border-top:solid 2px #a48e6f;
border-left:dotted 1px #a48e6f;
border-right:dotted 1px #a48e6f;
border-bottom:dotted 1px #a48e6f;
background-color:#ebdfc6;
margin-left:10px;
margin-right:10px;
}
#BoxProfil .tableProfil_split {
width:auto;
border-top:solid 2px #a48e6f;
border-left:dotted 1px #a48e6f;
border-right:dotted 1px #a48e6f;
border-bottom:dotted 1px #a48e6f;
background-color:#ebdfc6;
margin-left:10px;
}
#BoxProfil .tableProfil td{
padding:3px 2px 3px 2px;
}
#BoxProfil select, #BoxProfil input {
font-size:11px;
}



#BoxPostfach p {
margin-left:12px;
margin-top:8px;
margin-right:12px;
  color:#2a241f;
  font-weight:normal;
  font-size:12px;
}
#BoxPostfach ul{
  margin-left:27px;
  margin-right:15px;
}
#BoxPostfach li {
list-style-type: square;
	margin:0;
	color:#000;
	font-size: 11px; 
}
/*#BoxPostfach h1{
	padding:8px 10px 8px 10px;
	font-size:14px;
	color:#2a241f;
	font-weight:bold;
	border-bottom: 2px solid #a48e6f;
	background:url("../simg/bg_schraffur_hell.gif");
}*/
#BoxPostfach h2{
margin-left:10px;
margin-top:8px;
margin-right:12px;
font-weight:bold;
font-size:14px;
color:#000;
}
#BoxPostfach h3{
color:#2a241f;
margin:18px 11px 4px 10px;
font-weight:normal;
font-size:12px;
}

#BoxPostfach a {color:#000;font-weight:bold;}
#BoxPostfach a:visited {color:#000;font-weight:normal;}
#BoxPostfach #messages a:hover {text-decoration:underline;}

#BoxPostfach p {
margin:0;
font-size:11px;
}

#BoxPostfach #message {
margin-left:10px; margin-right:10px; 
border:1px dotted #a48e6f;
border-top:solid 2px #a48e6f; 
background-color:#ebdfc6;
padding:5px 10px 5px 10px;
}
#BoxPostfach #message textarea, #BoxPostfach #message input{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}
#BoxPostfach #messages {
margin-left:10px; margin-right:10px; 
border:1px dotted #a48e6f;
border-top:solid 2px #a48e6f; 
background-color:#ebdfc6;
}
#BoxPostfach .tablepostfach {
	width:538px;
	border:0;
	margin:0;
	padding:0;
}


#pagenav {
	float:right;
	text-align:right;
	width:auto;
	padding: 10px;
}
#pagenav span {
padding:2px 4px 2px 4px;
border: 1px solid #a48e6f;
color:#000;
font-weight:bold;
}
#pagenav a, #pagenav a:visited {
padding:2px 4px 2px 4px;
border: 1px dotted #a48e6f;
color:#a48e6f;
font-weight:bold;
}
#pagenav a:hover {
color:#fff;
border: 1px dotted #fff;
}


#LaschenNavBox {
  margin-top:60px;
  width:200px;
  float:right
  }

#LaschenNav {
  }
#LaschenNav span{
  font-size:14px;
  }
#LaschenNav ul {
margin:0;
padding:0;
font-size:11px;
  list-style:none;
  }
#LaschenNav li {
display:block;
margin-top:2px;
padding:10px 5px 9px 0;
font-size:11px;
font-weight:bold;
color:#c5b091;
list-style:none;
text-align:right;
  background:url("../simg/lasche_off.gif") no-repeat left top;
  }
#LaschenNav #current {
  background-image:url("../simg/lasche.gif");
  color:#000;
  }
#LaschenNav a{
  display:block;
  color:#c5b091;
}
#LaschenNav #current a{
  display:block;
  color:#000;
}
#LaschenNav a:hover{
  color:#fff;
}



#ActionBox {
  /*margin:10px 10px 0px 0px;*/
  padding-bottom:6px;
  margin-bottom:10px;
  background-color:#e3d4b5;
}
#ActionBox h1 {
	padding:8px 10px 8px 10px;
	margin-bottom:6px;
	font-size: 11px; 
	background:url("../simg/bg_schraffur_hell.gif") #e3d4b5;
	color:#2a241f;
	font-weight:bold;
	border-bottom: 1px solid #2a241f;
	border-bottom: 1px solid #a48e6f;
}
#ActionBox h2 {
	margin:10px;
	font-size: 11px; 
	font-weight:normal;
}
#ActionBox a {
  padding-bottom:2px;
  border-bottom: 1px dotted #a48e6f;
	color: #000;
}
#ActionBox a:hover {
  color:#fff;
	border-bottom: 1px dotted #fff;
}



#ButtonRegisterBig {
/*float:right;*/
  /*margin:10px 10px 0 0;*/
  margin-bottom:10px;
}



#IntroText {
margin:0 10px 0 10px;
	clear:both;
	font-size: 9px; 
	color: #484035;
}

#Footer {
margin:0 10px 0 10px;
border-color:#484035;
border-width:2px 0 0 0;
border-style:solid;

}
#Footer ul {
padding-top:0px;
float:right;
width:auto;
}
#Footer li {
display: inline;
list-style-type: none;
}
#Footer a {
	font-size: 9px; 
	color: #484035;
}
#Footer a:hover {
  color: #a48e6f;
}
#Footer p {
margin:0;
float:left;
width:auto;
padding-top:0px;
}






.error { color:#d00;}

#BoxError p{margin:10px;background-color:#d00;color:#fff;padding:8px;}
#BoxOK    p{margin:10px;background-color:#0a0;color:#fff;padding:8px;}



.profil_step {
	font-size:14px;
	font-weight: bold;
	color:#000;}
	
.profil_step_off{
	font-size:14px;
	font-weight: bold;
	color:#c5b091;}

.profil_step_text {
	font-size:11px;
	font-weight: bold;
	color:#000;}
	
.profil_step_text_off{
	font-size:11px;
	font-weight: bold;
	color:#c5b091;}

.payment_step {
	font-size:16px;
	font-weight: bold;
	color:#000;}
	
.payment_monat {
	font-size:12px;
	font-weight: bold;
	color:#000;
}
.payment_monat_tipp {font-size:18px; font-weight: bold; color:#000;}
.payment_preis {
	font-size:14px;
	font-weight: bold;
	color:#000;
}
.payment_preis_tipp {
	font-size:22px;
	font-weight: bold;
	color:#0a0;
}
.payment_small {font-size:9px; color:#777;}

.small {font-size:9px;}

.indicator {color:#e3d4b5; background-color:#a48e6f;font-size:14px;padding:10px 10px 2px 10px;border-left:1px solid #e3d4b5; }
.indicator_aktuell {color:#000; background-color:#e3d4b5;font-size:24px;padding:10px 10px 2px 10px;font-weight:bold}

.w180px {width:180px}

.schraffur_dunkel {background:url("../simg/schraffur_top.gif") top repeat-x #e3d4b5}

